<h1 class="home__title">
  NOÛS COLLAB!!
</h1>
<ng-container *ngTemplateOutlet="faqTemplate"></ng-container>

<ng-template #faqTemplate>
  <div class="containerc">
    <label class="accordion accordion--1" for="open-1">
      <input class="accordion__open" id="open-1" type="radio" name="acoordion-1">
      <input class="accordion__close" id="close-1" type="radio" name="acoordion-1">
      <div class="accordion__tab"></div>
      <div class="accordion__wrapper">
        <dl class="accordion__box">
          <dt class="accordion__patition">
            <span class="accordion__number">#1</span>
            <span class="accordion__title">Editor de código en línea</span>
          </dt>
          <dd class="accordion__text">
            <ul>
              <li>Crea Proyectos</li>
              <li>Comparte tus Proyectos</li>
              <li>...mas</li>

            </ul>
          </dd>
        </dl>
      </div>
      <label for="close-1" class="accordion__button">
        <span class="accordion__buttonText">CERRAR</span>
      </label>
    </label>
  </div>
</ng-template>


