<body>

  <form class="form-horizontal form-material" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()"
    id="loginform">

    <div class="container">
      <div class="formWraper">
        <div class="formDiv">
          <h2>Iniciar Sesion</h2>
          <hr>
          <p class="text">Utilice su correo para Iniciar Sesion</p>

          <div class="formGroup">
            <i class="far fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Correo" formControlName="email">
          </div>

          <div class="formGroup">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Contraseña" formControlName="password">
          </div>

          <div class="checkBox">
            <input type="checkbox" name="checkbox" id="checkbox" formControlName="remember">
            <span class="text">Recuerdame</span>
          </div>

          <button class="btn" type="submit">Iniciar Sesion</button>
          
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center" id="google-btn">

              <div id="my-signin2"></div>

            </div>
          </div>

          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              No tienes una cuenta <a routerLink="/register" class="text-primary m-l-5"><b>Registrate</b></a>
            </div>
          </div>

          <img src="assets/img/logoed.png" alt="" class="discountImg" />
        </div>

        
        <div class="welcomeDiv">
        <app-carpeta></app-carpeta>
        </div>
      </div>
    </div>
    
  </form>
 

  <span class="footer__copy">&#169; NoûsCollab 2023</span>
</body>