
.container {
  display: flex;
  align-content: center;
  justify-content: center;
}
.formWraper {
  display: flex;
  width: 90%;
  height: 450px;
  background-color: transparent;
  margin-top: 5px;
  margin-left: 140px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(27, 26, 26, 0.751);
  
}
/* left sectin of form */
.formDiv {
  width: 50%;
  padding: 8%;
  background-color: #ca301583;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
}
.formDiv h2 {
  color: #e6e3e9f1;
  margin-top: -5px;
}

/*  right section */
.welcomeDiv {
  width: 50%;
  padding: 10px;
  background-color: transparent;
  background-size: cover;
  text-align: center;
  color: white;
}
.welcomeDiv h2 {
  margin-top: 150px;
}
.text {
  font-size: small;
}
/* input fields */
.formGroup {
  width: 100%;
  position: relative;
}
.formGroup input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-style: none;
  padding-left: 30px !important;
}

/* icons inside form */
.formGroup i {
  position: absolute;
  left: 0px;
  top: 0px;
  color: rgb(61, 31, 2);
  font-size: 13px;
  margin: 10px !important;
}

input::placeholder {
  position: relative;
  left: 10px;
}
input:focus {
  border-color: white;
}
.checkBox {
  width: 100%;
  margin-top: 2px;
}
.btn {
  width: 70%;
  padding: 15px;
  background-color: #2d1301;
  margin-top: 20px;
  color: #d5d2cf;
  border-radius: 15px;
  border-style: none;
}

/* hover efects */
.btn:hover {
  background-color: white;
  color: black;
}
/* making HTML registration form responsive to mobile devices */
@media screen and (max-width: 1000px) {
  .formWraper {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 670px) {
  .formDiv {
    width: 120%;
    border-radius: 10px;
  }
  .welcomeDiv {
    display: none;
  }
}