<section class="align">

  <div class="space">

    <header class="projects__header">
      <img src="assets/img/create1.png" alt="Crear proyectos" border="0" class="img-p">
      <h2>Crear Proyecto</h2>
    </header>

      <main>
        <section class="section-contact">
          <div class="container">
            <!--start of contact form-->
            <form
               id="projectform" 
               autocomplete="off" 
               [formGroup]="projectForm"
               (ngSubmit)="crearProject()">

              <!-- name -->
              <div class="form-group">
                <label for="name">Nombre Proyecto</label>
                <input type="text" 
                       name="name" id="name" 
                       required class="form-element" 
                       placeholder="" 
                       formControlName="nameProject"/>
              </div>
              <!--image-->
              <div class="form-group">
                <label for="image" >Imagen</label>
                <input type="file" 
                       name="image" 
                       id="image" 
                       required class="form-element" 
                       placeholder=""
                     class="drop-container"
                      (change)="onImageSelected($event)" accept=".jpg,.png,.jpeg" />
              </div>
              <!--description-->
              <div class="form-group full">
                <label for="description" >Descripcion de Proyecto</label>
                <textarea name="description" 
                          id="description" 
                          class="form-element"
                          placeholder="Escribe una pequeña descripcion de tu proyecto..."
                          formControlName="description">
                 </textarea>
              </div>
              <div class="submit-group">
                <input type="submit" value="Crear Proyecto" />
              </div>
            </form>
          </div>
        </section>
      </main>

  </div>


</section>
