<section class="align">

  <div class="space">

    <header class="projects__header">
      <img src="https://i.ibb.co/58kfYG8/gestion-de-proyectos.png" alt="Crear proyectos" border="0" class="img-p">
      <h2>Perfil Usuario</h2>
    </header>

        <section class="section-contact">
          <div class="container">
            <form id="projectform" 
                  autocomplete="off" 
                  [formGroup]="perfilForm"
                  (submit)="actualizarPerfil()">
              
              <div class="form-group">
                <label for="name">Nombre de Usuario</label>
                <input type="text" 
                       name="name" 
                       id="name" 
                       required class="form-element"
                       formControlName="name" />
              </div>
              
              <div class="form-group">
                <label for="image">Correo</label>
                <input type="text" 
                       name="email" 
                       id="email" 
                       required class="form-element"
                       formControlName="email" />
              </div>

              <div class="form-group">
                <label for="image">Imagen de Perfil</label>
                <input type="file" 
                       name="image" 
                       id="image" 
                       class="form-element" 
                       class="drop-container" 
                      (change)="onImageSelected($event)"
                       accept=".jpg,.png,.jpeg"
                        />
              </div>

              <div class="form-group">
                <label for="name">Tipo de Plan</label>
                <select class="form-element" formControlName="role">
                  <option>Free</option>
                  <option>Silver</option>
                  <option>Gold</option>
                </select>
              </div>
              
              <div class="submit-group">
                <input type="submit" value="Actualizar" />
              </div>
            </form>
          </div>

          <div class="card">
            <div class="infos">
              <div class="image">
                <img [src]="usuario.image"
                  onerror="this.onerror=null; this.src='http://localhost:3000/nousCollab/files/project/f8f7864b-9437-49fd-b6b9-e96c41ea2c45.jpeg';" alt="">

              </div>
              <div class="info">
                <div *ngIf="usuario">
                  <p class="name">{{usuario.name | uppercase  }}</p>
                  <p class="function">Correo: {{ usuario.email | slice:0:20 }}{{ (usuario.email.length > 20) ? '...': '' }}</p>
                </div>
                <div class="stats">
                  <p class="flex flex-col">Proyectos<span class="state-value">{{usuario.availableProjects}}</span></p>
                  <p class="flex">Membresia<span class="state-value">{{usuario.role | uppercase}}</span></p>
                </div>
              </div>
            </div>
            <button class="request" type="button">Crear Proyecto</button>
            <button class="request" type="button">Mis Proyectos</button>
            <button class="request" type="button">Eliminar Cuenta</button>
          </div>
        </section>
  </div>
</section>