<body>
  <form class="form-horizontal form-material" 
        id="loginform" 
        autocomplete="off" 
        [formGroup]="registerForm"
        (ngSubmit)="crearUsuario()">
            
      <div class="container">
        <div class="formWraper">
          <div class="formDiv">
            <h2>REGISTRARSE</h2>
            <hr>
            <p class="text">Utilice su correo para registrarse</p>
              
            <div class="formGroup">
                <i class="far fa-user"></i>
                <input type="text" 
                      name="name" 
                      id="name" 
                      placeholder="Nombre de usuario"
                      formControlName="name">
              </div>

              <div class="formGroup">
                <i class="far fa-envelope"></i>
                <input type="email" 
                       name="email" 
                       id="email" 
                       placeholder="Correo"
                       formControlName="email">

              </div>
              <div class="formGroup">
                <i class="fas fa-lock"></i>
                <input type="password" 
                       name="password" 
                       id="password" 
                       placeholder="Contraseña"
                       formControlName="password">
              </div>

              <div class="formGroup">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Confirme Contraseña" formControlName="password2"
                >
              </div>
        

              <div class="checkBox">
                <input type="checkbox" name="checkbox" id="checkbox" formControlName="terminos">

                <span class="text">Acepta terminos y condiciones</span>
              </div>

              <div class="row">
                <div class="validaciones">
                  <p class="validaciones" *ngIf="campoNoValido('name')">Nombre de usuario obligatorio</p>
                  <p *ngIf="campoNoValido('email')">Email es obligatorio y ser valido</p>
                  <p *ngIf="campoNoValido('password')">La Contraseña es obligatoria</p>
                  <p *ngIf="contrasenasNoValidas()">Las contraseñas deben de ser iguales</p>
                  <p *ngIf="aceptaTerminos()">Debe de aceptar los términos de uso</p>
                </div>
              </div>
           
              <button class="btn" type="submit">Registrarse</button>
            </div>

            <div class="welcomeDiv">
              
              <app-carpeta></app-carpeta>
            </div>
        </div>
      </div>
  </form>>
  <span class="footer__copy">&#169; NoûsCollab 2023</span>
</body>
