<header class="header" id="header">
  <nav class="nav container">
    <a href="#home" class="nav__logo">
      <!-- nuestra marca -->
      <img src="assets/img/logoed.png" alt="" class="nav__logo-img" />
      <h1>Noûs Collab</h1>
    </a>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a [routerLink]="['']" 
            class="nav__link ">Inicio</a>
        </li>
        <li class="nav__item">
          <a [routerLink]="['../nousCollab/proyects']"   class="nav__link">Proyectos</a>
        </li>
        <li class="nav__item">
          <a [routerLink]="['../nousCollab/snippets']"   class="nav__link">Snippets</a>
        </li>
        
        <a (click)="logout()"  class="button button--ghost">Salir</a>
      </ul>
      <!-- boton responsive cuando este cerrado -->
      <div class="nav__close" id="nav-close">
        <i class="bx bx-x"></i>
      </div>
    </div>
    <div class="nav__toggle" id="nav-toggle">
      <i class="bx bx-grid-alt"></i>
    </div>
  </nav>
</header>