<div class="app">
    <div class="grid">
        <div>
            <textarea name="" id="html" #html placeholder="html"></textarea>
        </div>

        <div>
            <textarea name="" id="css" #css placeholder="css" highlight class=""></textarea>

        </div>

        <div>
            <textarea name="" id="js" #js placeholder="js" highlight></textarea>
        </div>
        <div>
            <iframe #iframe></iframe>
        </div>
        <div class="vertical-gutter"></div>
        <div class="horizontal-gutter"></div>

    </div>



</div>