
* {
  box-sizing: border-box !important;
}

*::before,
*::after {
  box-sizing: inherit !important;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  background: #fff;
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#html {
  position: relative;
}

#html::after {
  content: "";
  position: absolute;
  background-image: url("/assets/img/ic-html.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  left: 0;
  bottom: 0;
}

#css {
   position: relative;
}


#css::after {
   content: "";
  position: absolute;
  background-image: url("/assets/img/ic-css.png");
   background-repeat: no-repeat;
  background-size: contain;
  width: 11%;
  height: 11%;
  left: 0;
  bottom: 0;
}

#js {
   position: relative;
}

#js::after {
   content: "";
  position: absolute;
  background-image: url("/assets/img/ic-js.png");
   background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  left: 0;
  bottom: 0;
}



.grid {
  display: grid;
  grid-template-columns: 515px 4px 515px;
  grid-template-rows: 270px 4px 270px;
  height: 100vh;
  position: relative;
  margin-top: 25px;
}

.vertical-gutter {
  grid-area: 1 / 2 / 4 /2;
  cursor: col-resize;
  background: linear-gradient(315deg, #ff8e03, #05050596);
}

.horizontal-gutter {
  grid-area: 2 / 1 / 2 / 4;
  background: linear-gradient(315deg, #ff8e03, #050505bc);
  cursor: row-resize;
}


.theme{
   background: #333;
  border: 1px solid #ff8103;
  height: 100%;
  width: 100%;
  resize: none;
  padding: 3px;
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: calc(100% - 16px) calc(100% - 16px);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 138px;
  border: none;
  background: #fa6f05a2;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
    top: -10%;
    right: 700px;
    z-index: 2;
}

.lable {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
  color: #efefef;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button:hover {
  background: #ca5f0749;
}

.button:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}